{{ define "main" }}
<div class="archive animated fadeInDown">
  <ul class="list-with-title">
    {{ range .Data.Pages.GroupByDate "2006" }}
      <div class="listing-title">{{ .Key }}</div>
        {{ range .Pages.GroupByDate "Jan" }}
          <div class="listing-title">{{ .Key }}</div>
            {{ range .Pages }}
              <ul class="listing">
                <div class="listing-item">
                  <div class="listing-post">
                    <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>&nbsp;&nbsp;
                    <i class="fa fa-clock-o"></i>
                    <span class="reading-time">
                      <i>{{ .ReadingTime }}-minute read</i>
                    </span>
                    <span class="post-time date">
                      {{.PublishDate.Format "Jan 2" }}
                    </span>
                  </div>
                  {{ .Summary }}
                  <br><br>
                </div>
             </ul>
           {{ end }}
         {{ end }}
       {{ end }}
     </ul>
   </div>
{{ end }}
