{{ define "main" }}
  <div class="about animated fadeInDown" style="overflow-x:auto;" >
    <div class="homeleft" >
      <h3>Notes Categories</h3>
        {{range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
          <li><a href="{{.Permalink}}">{{.Title}}</a></li>
        {{end}}
    </div>
    <div class="homeright">
      {{range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
        <h3>{{.Title}}</h3>
        <ul>
          {{ range .Pages }}
            <li>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
          {{ end }}
        </ul>
      {{end}}
    </div>
{{ end }}
